# reduce 
RDD.reduce(<func>)
사용자가 지정하는 함수를 받아 여러 개의 값을 하나로 줄여줌

In [10]:
from pyspark import SparkConf, SparkContext
from pyspark.sql import SparkSession
# 현재 실행 중인 SparkSession 가져오기
spark = SparkSession.builder.getOrCreate()
sc = spark.sparkContext

In [11]:
from operator import add

In [12]:
sample_rdd = sc.parallelize([1, 2, 3, 4, 5])
sample_rdd

ParallelCollectionRDD[0] at readRDDFromFile at PythonRDD.scala:289

In [ ]:
sample_rdd = sc.paralleliz

In [4]:
### 3. Wide 트랜스포메이션 예제

# 셔플링이 필요한 변환 (Wide Transformation)
distinct_rdd = sc.parallelize([1, 1, 2, 2, 3, 3]).distinct()
grouped_rdd = kv_rdd.groupByKey()
reduced_rdd = kv_rdd.reduceByKey(lambda x, y: x + y)

NameError: name 'sc' is not defined

# join ()

In [5]:
# 두 RDD 조인하기
rdd1 = sc.parallelize([("apple", 2), ("banana", 1)])
rdd2 = sc.parallelize([("apple", "fruit"), ("banana", "fruit"), ("carrot", "vegetable")])

# 두 RDD 조인
joined_rdd = rdd1.join(rdd2)
print(joined_rdd.collect())
# 출력 결과: [('apple', (2, 'fruit')), ('banana', (1, 'fruit'))]

print("Distinct RDD:", distinct_rdd.collect())  # [1, 2, 3]
print("Joined RDD:", joined_rdd.collect())  # [("apple", (2, "fruit")), ("banana", (1, "fruit"))]

NameError: name 'sc' is not defined

In [66]:
# 왼쪽 외부 조인 (leftOuterJoin)
left_joined = rdd1.leftOuterJoin(rdd2)
print(left_joined.collect())
# 출력 결과: [('apple', (2, 'fruit')), ('banana', (1, 'fruit'))]

# 오른쪽 외부 조인 (rightOuterJoin)
right_joined = rdd1.rightOuterJoin(rdd2)
print(right_joined.collect())
# 출력 결과: [('apple', (2, 'fruit')), ('banana', (1, 'fruit')), ('carrot', (None, 'vegetable'))]

# subtractByKey 연산
subtract_result = rdd1.subtractByKey(sc.parallelize([("apple", "any")]))
print(subtract_result.collect())
# 출력 결과: [('banana', 1)]

[('apple', (2, 'fruit')), ('banana', (1, 'fruit'))]
[('apple', (2, 'fruit')), ('banana', (1, 'fruit')), ('carrot', (None, 'vegetable'))]
[('banana', 1)]

# reduce()

In [67]:
# reduce 연산 (결합성과 교환성을 가진 작업)
sum_result = numbers.reduce(lambda x, y: x + y)
product_result = numbers.reduce(lambda x, y: x * y)

print("Count:", count)  # 5
print("First element:", first_element)  # 1
print("Collected:", collected)  # [1, 2, 3, 4, 5]
print("Taken:", taken)  # [1, 2, 3]
print("Sum:", sum_result)  # 15
print("Product:", product_result)  # 120

Count: 5
First element: 1
Collected: [1, 2, 3, 4, 5]
Taken: [1, 2, 3]
Sum: 15
Product: 120

In [3]:
# 파티션을 3개로 지정ㄴ 
sc.parallelize([1,2,3,4],3).reduce(lambda x,y : (x*2)+y)

NameError: name 'sc' is not defined

# groupby

In [16]:
# 판매 데이터 분석 (카페고리별 총 매출 계산)
sales_data = [
    ("Electronics", 1000),
    ("Clothing", 500),
    ("Electronics", 1500),
    ("Books", 300),
    ("Clothing", 750),
    ("Books", 200)
]

In [17]:
# RDD 생성
sales_rdd = sc.parallelize(sales_data)

# 카테고리별 총 매출 계산
category_sales = sales_rdd.groupBy(lambda x: x[0]) \
    .mapValues(lambda values: sum(item[1] for item in values)) \
    .collect()

# 결과 출력
for category, total_sales in category_sales:
    print(f"{category}: ${total_sales}")

Clothing: $1250
Electronics: $2500
Books: $500

In [22]:
#로그 데이터 처리 (IP 주소별 접속 횟수 분석)
# SparkContext 생성 가정 (sc)
log_data = [
    ("192.168.1.1", "login"),
    ("192.168.1.2", "purchase"),
    ("192.168.1.1", "view"),
    ("192.168.1.3", "login"),
    ("192.168.1.2", "login"),
    ("192.168.1.1", "purchase")
]

# RDD 생성
log_rdd = sc.parallelize(log_data) 

# 1. (ip, 1)
ip_count_pairs = log_rdd.map(lambda x: (x[0], 1))

# 2. (ip별, 횟수)
ip_counts = ip_count_pairs.reduceByKey(lambda a, b: a + b)

for ip, count in ip_counts.collect():
    print(f"{action} : {count}회")
    
# 유형별 접속 횟수
# 1.(유형별, 1)
action_count_pairs = log_rdd.map(lambda x: (x[1], 1))
# 2.(유형별, 횟수)
action_counts = action_count_pairs.reduceByKey(lambda a,b: a+b)
# 결과 
for action, count in action_counts.collect():
    print(f"{action} : {count}회")

purchase : 3회
purchase : 2회
purchase : 1회
login : 3회
view : 1회
purchase : 2회

In [27]:
#학생 성적 데이터 분석 (과목별 평균 성적 계산)
# SparkContext 생성 가정 (sc)
student_grades = [
    ("Math", 85),
    ("English", 90),
    ("Math", 92),
    ("Science", 88),
    ("English", 95),
    ("Science", 82)
]

# RDD 생성
grades_rdd = sc.parallelize(student_grades)

# 1. (과목, (점수, 1)) form 
# x[0], x[1], (x[1], 1): 점량 
grade_pairs = grades_rdd.map(lambda x: (x[0], (x[1], 1)))

# 2. 과목별 총점, 개수 계산 
grade_totals = grade_pairs.reduceByKey(lambda a, b: (a[0] + b[0], a[1]+b[1]))

#3. 평균 개산 
grade_avg = grade_totals.mapValues(lambda x: (x[0] / x[1]))

# result 
for subject, avg in grade_avg.collect():
    print(f"{subject}: {avg}")

Science: 85.0
Math: 88.5
English: 92.5

# 5. aggregate 함수 사용 예제

In [31]:
from pyspark import SparkContext

sc = SparkContext.getOrCreate()
numbers = sc.parallelize([1, 5, 3, 9, 2, 8, 4, 7, 6], numSlices=3)
numbers.collect()

[1, 5, 3, 9, 2, 8, 4, 7, 6]

In [34]:
# glom()은 각 파티션의 내용을 리스트로 감싸서 반환
# 즉, 파티션 간의 이동이 없고, 내부 자료구조만 바꾸는 연산
# glom()은 RDD의 각 파티션을 배열 형태로 변환하는 narrow transformation

In [35]:
numbers.glom().collect()

[[1, 5, 3], [9, 2, 8], [4, 7, 6]]

In [36]:
numbers = sc.parallelize([1, 5, 3, 9, 2, 8, 4, 7, 6])

In [37]:
# 평균 계산하기
sum_count = numbers.aggregate(
    (0, 0),  # 초기값 (합계, 개수)
    lambda acc, value: (acc[0] + value, acc[1] + 1),  # 각 파티션 내 연산
    lambda acc1, acc2: (acc1[0] + acc2[0], acc1[1] + acc2[1])  # 파티션 간 연산
)
sum_count

(45, 9)

In [38]:
average = sum_count[0] / sum_count[1]
print("Average:", average)  # 5.0

Average: 5.0

In [39]:
spark.stop()
sc.stop()